.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 540px;
  height: 100%;
  color: white;
}

#colorStrip {
  width: 50%; height: 100px;
  margin-right: auto;
  margin-left: auto;
  border-style: solid;
  border-color: white;
  background: #3d70fa;
  border-radius: 30px;
  text-align: center;
}